<div class="container">

    <!-- LADO IZQUIERDO -->
    <div class="left-panel">
        <div class="overlay">
            <h1>GameSell</h1>
            <p>Level up your gaming experience</p>
        </div>
    </div>

    <!-- LADO DERECHO -->
    <div class="right-panel">
        <div class="login-box">

            <h2>Welcome Player</h2>
            <p class="subtitle">Sign in to continue</p>

            <div class="input-group">
                <input type="email" placeholder="Email">
            </div>

            <div class="input-group">
                <input type="password" placeholder="Password">
            </div>

            <button class="login-btn">Login</button>

            <p class="divider">or</p>

            <button class="google-btn">
                Login with Google
            </button>

            <p class="signup-text">
                Don’t have an account?
                <span routerLink="/registrar">Sign up</span>
            </p>

        </div>
    </div>

</div>