/* You can add global styles to this file, and also import other style files */
/* Reset general */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* Fondo global oscuro */
html, body{
  width:100%;
  height:100%;
  background:#03050b;
  overflow-x:hidden;
}

/* Angular root */
app-root{
  display:block;
  background:#03050b;
  min-height:100vh;
}
